@mixin flex($d: column, $j: flex-start, $a: flex-start) {
	display: flex;
	flex-direction: $d;
	justify-content: $j;
	align-items: $a;
}

@mixin mobile($max-width: 500px) {
	@media screen and (max-width: $max-width) and (orientation: portrait) {
		@content;
	}
}